php_flag zlib.output_compression on
php_value zlib.output_compression_level 6
php_flag magic_quotes_gpc off
php_flag magic_quotes_sybase off
php_flag display_errors on
#this is incredibly important.  Without it, the user could inject whatever
#variables they want into the script, and if some variable wasn't set
#somewhere, it could be set by the user, and potentially lead to a security
#hole.  No decent php setup should have this on, but apparently ours does.
php_flag register_globals off

RewriteEngine on
RewriteRule ^/workshift/(.*) http://workshift.bsc.coop/$1 [L,R]

Options +ExecCGI
AddHandler cgi-script cgi
AddHandler cgi-script .sh
AddHandler cgi-script .cgi .py .pyc
