Options +Indexes
AuthType Basic
AuthName "Workshiftdb Admin"
AuthUserFile /var/www/workshiftdb/php_includes/apache_users
Require user workshiftadmin

Options +ExecCGI
AddHandler cgi-script cgi
#Action cgi-php /php.sh
#AddHandler cgi-php .php
