Options +Indexes
AuthType Basic
AuthName "Workshiftdb Admin"
AuthUserFile /home/bsccoo5/public_html/workshift/php_includes/apache_users
Require user workshiftadmin

Options +ExecCGI
AddHandler cgi-script cgi
#Action cgi-php /php.sh
#AddHandler cgi-php .php
